.searchBar {
    height: 100%;
    left: 250px;
    display: inline-block;
    margin-right: 20px;
    width: 50%;
    @media (min-width:499px) {
        width: 70%;
        margin-right: 10px;
    }
}
    
  
