@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


.NavigationItems {
    /* top: 50%; */
    margin: 50% 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    /* text-decoration:aquamarine; */
    /* margin-top: 300px; */
    font-size: 110%;
    font-family: 'Libre Baskerville', serif;
}

@media (min-width: 500px) {
    .NavigationItems {
        /* margin:300px; */
        /* text-align: center; */
       /* margin-top:300px; */
        flex-flow: row;
        padding:0;
        margin-top:0;
        font-size: 30px;
        color: black;
    
    }
}

.Home {
    height: 20px;
    widTh: 20px;
    margin: 0;
    margin-right: 5px;
}
@media (min-width: 499px) {
    .Home {
        height:5px;
        width:5px;
    }
}

.WiSh {
    height: 20px;
    widTh: 20px;
    margin: 0;
    margin-right: 5px;
}